.activities-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.activities-bar > button {
    margin-left: 10px; /* Adjust the space between the search bar and button as needed */
}

.button-group {
    display: flex;
    align-items: center; /* Align buttons vertically */
  }

  .button-group > button {
    margin-left: 10px; /* Space between buttons */
  }
