.add-friend-button {
    background-color: white;
    border: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }

  .add-friend-button:hover {
    background-color: #DC965A;
  }

  .add-friend-button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  }
