.friend-table {
  background-color: #C7F2A7;
  width: calc(100% - 40px);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  margin-top: 0px;
}

.friend-table th, .friend-table td {
  padding: 8px;
}

.friend-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #181F1C;
  color: white;
}

.friend-table tr:hover {
  cursor: pointer;
}

.friend-table thead tr:first-child th:first-child {
  border-top-left-radius: 20px;
}

.friend-table thead tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

.friend-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

.friend-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}
