.search-bar {
  padding: 10px; /* Padding inside the input field */
  margin: 5px; /* Space around the component */
  border-radius: 20px; /* Rounded corners */
  border: 1px solid #ccc; /* A light border, can be adjusted */
  width: 200%; /* Adjust width to account for margin */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  justify-content: left;
}

.search-bar-form {
  padding: 20px; /* Additional padding around the form if needed */
}

.search-and-button {
  display: flex;        /* Establishes a flex container */
  align-items: center;  /* Aligns children vertically in the center */
  justify-content: space-between; /* Puts maximum space between children */
}

/* Optional: You might want to give some margin to the button */
.search-and-button > button {
  margin-left: 10px; /* Adjust the space between the search bar and button as needed */
}
